@use  'variables' as v;
@use 'base/mixins' as m;

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    // box-sizing: border-box;
    @include m.desktop{
        font-size: 50%;
    }
    @include m.tabletXL{
        font-size: 45%;
    }
    @include m.phoneS{
        font-size: 38%;
    }
}

// *,
// *:before,
// *:after{
//     // box-sizing: inherit;
// }

*{
    font-family: v.$fuente-principal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    font-size: 1.6rem;

    // &.body--scroll{
    //     padding-top: 8rem;
    // }
}

section{
    padding: 2rem 9%;
    

    &:nth-child(even){
        background: v.$ligth-color;
    }
    @include m.desktopXL{
        padding:2rem
    }
}

.sub-heading{
    text-align: center;
    color: v.$color-main;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: v.$black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: v.$white;
    background-color: v.$black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;

    &:hover{
        background: v.$color-main;
        letter-spacing: .1rem;
    }
}

input:focus,
textarea:focus{
    border: none;
}

p{
    font-size: 2rem;
    color: v.$negro;
}


a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3,h4{
    font-size: 3rem;
}



