//Tipografia
$fuente-principal: 'Nunito', sans-serif;

//  Colores 
$azul-oscuro: #1E1E30;
$amarillo: #FFC001;
$rojo: #ED1C24; 
$rojo-claro: #e74d52;
$azul: #444CF7;
$azul-claro: #e5e5f7;
$negro: #000;
$blanco: #fff;
$gris:  #696871;

//Paddings
$padding-container: 10rem 0;

//Tamaños de Media Queries
$phone: 420px;
$phoneXL: 690px;
$tabletS: 690px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;