@use 'base/mixins' as m;
@use 'base/variables' as v;

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: v.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.fade-out{
        top: 110%;
        opacity: 0;
    }
    img{
        width: 35rem;
    }
}